@import "bootstrap-sprockets";
@import "bootstrap";

img.recipe-show{
	width: 200px;
	height: auto;

}

.recipe-box {
	height: 600px;
	position: relative;
	box-shadow: 10px 10px 5px #888888;
	background: #ecf0f1

}

img.recipe-index {
	width: 100%;
	height: 70%;
	object-fit: cover;


}

.recipe-box ul {
	list-style-type: none;
	position: absolute;
	bottom: 0;

}

.recipe-box li:first-child {
	font-size: 32px


}

h1 {
  font-family: 'Oleo Script', serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;

}

h2 {
  font-family: 'Oleo Script', serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;

}

h3 {
  font-family: 'Oleo Script', serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

}

title {
  font-family: 'Oleo Script', serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  margin-bottom:2%;
}

.description-text {
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;
  margin-top:2%;
  margin-bottom:2%;

}

.title-text {
  font-family: 'Oleo Script', serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top:2%;
  margin-bottom:2%;

}


.link-to-text {
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;

}
.navbar {
	list-style-type: none;
	font-family: 'Martel Sans', sans-serif;
	font-size: 16px;
	font-color: black;
	line-height: 30px;

}

.About-page-nav {
	list-style-type: none;
	font-family: 'Martel Sans', sans-serif;
	font-size: 16px;
	font-color: black;
	line-height: 30px;
}


.new-recipe {
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;

}

.body {
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;

}

.new-recipe {
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: black;


}

.form-control-title {
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  
}


.form-control-description {
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;

}

.form-control-ingredients {
	display: inline-block;
	width: 70%;

}

.form-control-steps {
	display: inline-block;
	width: 70%;


}

.recipe-choose {
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;

}

a {
  color: black;

  &:visited {
    color: black;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}